<div class="screen">
    <div class="listagem">
        <h2>Lista de Produtos</h2>
        <div class="lista">
            <ul>
                <li *ngFor="let produto of produtos"> 
                    {{ produto }} - 
                <button (click)="remove(produto)">Remover</button>
                <button (click)="mostrarEditor()">Editar</button>
                </li>
            </ul>
        </div>
        <div [hidden]="showEditor" class="editor">
            <h4>Editor de Registro</h4>
            <input type="text" placeholder="Produto que deseja Alterar"#nomeAntigo autoGrow>
            <input type="text" placeholder="Novo Produto" #novoNome autoGrow>
            <button type="submit" (click)="update(nomeAntigo.value, novoNome.value)">Salvar</button>
        </div>
    </div>
</div>
