.screen {
    width: 300px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    background: #202021;
    transform: translate(-50%, -50%);
    text-align: center;
    h2 {
        text-align: center;
        text-transform: uppercase;
        font-family: Arial, Helvetica, sans-serif;
        color: whitesmoke;
    }
    input {
        border: 0;
        background: none;
        display: block;
        margin: 5px auto;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        border: 2px solid #fff;
        padding: 14px 10px;
        width: 200px;
        outline: none;
        color: whitesmoke;
    }
    button {
        cursor: pointer;
        border: 0;
        background: whitesmoke;
        display: block;
        margin: 20px auto;
        text-align: center;
        border: 2px solid #fff;
        padding: 14px 1px;
        width: 200px;
        outline: none;
        color: #202021;
        border-radius: 25px;
        transition: 0.25s;
    }
    span {
        color: green;
        font-family: Arial, Helvetica, sans-serif;
        background: #b0ed6a;
        width: 10px;
        padding: 10px;
        margin: 5px auto;
        border: 2px solid green;
    }
}